<app-header></app-header>
<h1>HISTORIAL DE CITAS DE DENTALÍSTICO</h1>
<div class="container mt-4">

    <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let cita of citasHistoricas">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">NÚMERO DE CITA: {{ cita.NumeroCita }}</h5>
              <p class="card-text">Fecha: {{ cita.Fecha }}</p>
              <p class="card-text">Paciente: {{ cita.NombrePaciente }}</p>
              <p class="card-text">Edad del Paciente: {{ cita.EdadPaciente }} años</p>
              <p class="card-text">Doctor: {{ cita.NombreDoctor }}</p>
              <p class="card-text">Especialidad: {{ cita.EspecialidadConsultorio }}</p>
              <button type="button" class="btn btn-primary" (click)="openAnotacionesModal(cita.numeroCita)">Anotaciones</button>

            </div>
          </div>
        </div>
      </div>
      
</div>
