<app-header></app-header>
<div class="container">
    <h1>INICIAR SESIÓN COMO CONSULTORIO</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">NOMBRE CLAVE</span>
        <input type="text" class="form-control" placeholder="Ingrese el nombre clave del consultorio">
    </div>
    <div class="input-group mb-3 ">
        <span class="input-group-text" id="basic-addon1">CONTRASEÑA</span>
        <input type="text" class="form-control" placeholder="Ingrese la contraseña del consultorio">
    </div>
    <div class="input-group">
        <button class="btn btn-primary" type="button" [routerLink]="['/controlPanel']">INICIAR SESIÓN COMO CONSULTORIO</button>
    </div>

</div>