<app-header></app-header>
<div class="container mt-4">
  <h1>ESTADÍSTICAS Y REPORTES DE DENTALÍSTICO</h1>
    <!-- Fila 1: Gráfica y Datos Relevantes -->
    <div class="row">
      <!-- Columna de la Gráfica -->
      <div class="col-md-6">
        <img src="../../assets/grafica.PNG" alt="" style="max-width: 100%;">
      </div>
      
      <!-- Columna de Datos Relevantes -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Datos Relevantes</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Total de consultas realizadas en el año: {{ totalConsultas }}</li>
              <li class="list-group-item">Edad promedio de los pacientes: {{ edadPromedio }}</li>
              <li class="list-group-item">Tasa de retención de pacientes: {{ tasaRetencion }}%</li>
              <li class="list-group-item">Valoración promedio del consultorio: {{ valoracionPromedio }} estrellas</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- Fila 2: Comentarios -->
  <div class="row mt-4">
    <div class="col">
      <h5>Comentarios</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let comentario of comentarios">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ comentario.nombre }}</h6>
            <small>
              <ng-container *ngFor="let i of [].constructor(comentario.calificacion); let index = index">
                <img src="../../assets/estrella.png" alt="Estrella" width="20" height="20">
              </ng-container>
            </small>
          </div>
          <p class="mb-1">{{ comentario.opinion }}</p>
        </li>
      </ul>
    </div>
  </div>
  </div>
  