<app-header></app-header>
<h1>SOPORTE TÉCNICO PARA {{nombreConsultorio}}</h1>


<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            Preguntas Frecuentes
          </div>
          <div class="card-body">
            <div class="faq">
              <div class="question">
                <h5>1. ¿Cómo puedo restablecer mi contraseña?</h5>
                <p>Respuesta: Para restablecer tu contraseña, ve a la página de inicio de sesión y haz clic en "¿Olvidaste tu contraseña?". Sigue las instrucciones para recibir un enlace de restablecimiento en tu correo electrónico.</p>
              </div>
              <div class="question">
                <h5>2. No puedo acceder a mi cuenta, ¿qué debo hacer?</h5>
                <p>Respuesta: Asegúrate de que estás usando el correo electrónico y contraseña correctos. Si sigues teniendo problemas, haz clic en "¿Olvidaste tu contraseña?" en la página de inicio de sesión para restablecerla.</p>
              </div>
              <div class="question">
                <h5>3. ¿Cómo puedo configurar mis horarios de consulta?</h5>
                <p>Respuesta: En tu panel de control, ve a la sección de "Configuración de Agenda". Desde allí, podrás establecer tus horarios de disponibilidad, pausas y días de trabajo.</p>
              </div>
              <div class="question">
                <h5>4. ¿Cómo puedo ver las estadísticas de mi consultorio?</h5>
                <p>Respuesta: Ve a la sección de "Estadísticas" en tu panel de control. Allí encontrarás información sobre el rendimiento de tu consultorio, como el número de consultas realizadas y la edad promedio de los pacientes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  