<app-header></app-header>
<h1>INICIAR SESIÓN COMO PACIENTE</h1>
<br><br>
<div class="container">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">CORREO ELECTRÓNICO</span>
        <input type="text" class="form-control" placeholder="Ingrese el correo electrónico del paciente">
    </div>
    <div class="input-group mb-3 ">
        <span class="input-group-text" id="basic-addon1">CONTRASEÑA</span>
        <input type="text" class="form-control" placeholder="Ingrese la contraseña del paciente">
    </div>
    <div class="text-center">
            <button class="btn btn-primary" type="button" [routerLink]="['/browser']">INICIAR SESIÓN COMO PACIENTE</button>
    </div>
    

</div>