<app-header></app-header>
<div class="container">
    <h1>CONTROL DE PUBLICIDAD DE DENTALÍSTICO</h1>
    <br><br><br>
    <h2>PAQUETE DE PUBLICIDAD ACTUAL <span class="badge bg-warning">PREMIUM</span></h2>
    <h6>APARECE EN LOS PRIMEROS RESULTADOS DE BÚSQUEDA</h6>
    <br><br>
    <h2>PERIODO DE FACTURACIÓN: <span class="badge bg-success">17 SEPT</span></h2>
    <h6>RENOVACIÓN AUTOMÁTICA CON CARGO INCLUIDO A LA TARJETA CON TERMINACIÓN 4920*</h6>
    <br><br>
    <h2>COSTO DEL PAQUETE PREMIUM: <span class="badge bg-dark">$1,300 MXN</span></h2>
    <h6>COSTO MENSUAL</h6>
</div>
