
<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" >
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet">



<!-- <app-diary></app-diary>
 --><!-- <app-details></app-details>
 --><!-- <app-browser></app-browser>
 -->
<!-- <app-record-consultorio></app-record-consultorio>
 -->
<!-- <app-team></app-team>
 -->
<!-- <app-statistics></app-statistics>
 --><!-- <app-record></app-record>
 --><!-- <app-control-panel></app-control-panel>
 --><!-- <app-advertising></app-advertising> -->

<!-- <app-signup-paciente></app-signup-paciente>
 --><!-- <app-login-paciente></app-login-paciente>
 --><!-- <app-home></app-home>
 --><!-- <app-support></app-support> -->
<!-- <app-signup-consultorio></app-signup-consultorio>
 --><!-- <app-login-consultorio> </app-login-consultorio>
 -->
<router-outlet></router-outlet>
