<app-header></app-header>
<div class="container mt-4">
    <h1>CONTROL DE PERSONAL DE DENTALÍSTICO</h1>
  

    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEmpleado.nombre">
      </div>
      <div class="form-group">
        <label for="app">Apellido Paterno:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEmpleado.app">
      </div>
      <div class="form-group">
        <label for="apm">Apellido Materno:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEmpleado.apm">
      </div>
      <div class="form-group">
        <label for="puesto">Especialidad:</label><br>
        <select class="form-control"  [(ngModel)]="nuevoEmpleado.Id_especialidad">
          <option *ngFor="let especialidad of especialidades"  [value]="especialidad.id_especialidad">
            {{ especialidad.NombreEspecialidad }}
          </option>
        </select>
      </div>
      <br>
     
      <button class="btn btn-success" (click)="darDeAlta()">Dar de Alta</button>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Especialidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of personal">
          <td>{{ empleado.Nombre }} {{empleado.Apellido_Paterno}} {{empleado.Apellido_Materno}}</td>
          <td>{{ empleado.Nombre_especialidad }}</td>
          <td>
            <button class="btn btn-danger" (click)="darDeBaja(empleado)">Dar de Baja</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  